In [14]:
import os
import pandas as pd
import re

In [3]:
data_dir = "./timestamps/"
csvs = sorted(os.listdir(data_dir))

In [4]:
def full_year_dates(timestamp):
    timestamp = timestamp.split("/")
    if len(timestamp[2]) != 4:
        timestamp[2] = "20" + timestamp[2]

    return "/".join(timestamp)

In [204]:
data = pd.read_csv(data_dir + csvs[0], header=None, names=["date", "time", "name"])

In [117]:
csvs[0]

'Aditya (1)-times.csv'

In [178]:
def clean_dataframe(df, filename):
    df.date = df.date.apply(full_year_dates)
    df.time = df.time.apply(lambda t: t.strip()).apply(lambda t: pd.Timestamp(t))
    df.name = df.name.apply(lambda t: t.strip())
    df["new_time"] = data.time
    
    return df

In [205]:
cdf = [clean_dataframe(data, csvs[0])]

In [206]:
count_times = {}

def tns(d):
    count = len(d)

    if count > 1:
        if not count_times.get(count, False):
            interval = pd.Timedelta(60, "s") / count
            sum_in = interval / 2

            times = []
            for i in range(count):
                times.append(sum_in)
                sum_in += interval
            count_times[count] = times

            d["new_time"] += times
        else:
            d["new_time"] += count_times[count]
    return d


new_d =  cdf[0].groupby(["date", "time"]).transform(tns)
new_d["date"] = cdf[0].date
del cdf
new_d.rename(columns={'new_time': 'time'}, inplace=True)
new_d.time = new_d.time.apply(lambda x: x.strftime("%I:%M:%S %p"))

new_d["cat"] = pd.Series([re.sub(r"[\(-].*", "", csvs[0]).strip()] * len(new_d))

/media/379GB/Tools/Anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/media/379GB/Tools/Anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [207]:
new_d

            name         time        date     cat
0         Aditya  10:24:00 PM  02/04/2016  Aditya
1    Shivam Rana  10:52:15 PM  02/04/2016  Aditya
2    Shivam Rana  10:52:45 PM  02/04/2016  Aditya
3         Aditya  10:53:15 PM  02/04/2016  Aditya
4         Aditya  10:53:45 PM  02/04/2016  Aditya
5    Shivam Rana  10:54:07 PM  02/04/2016  Aditya
6    Shivam Rana  10:54:22 PM  02/04/2016  Aditya
7         Aditya  10:54:37 PM  02/04/2016  Aditya
8         Aditya  10:54:52 PM  02/04/2016  Aditya
9    Shivam Rana  10:55:07 PM  02/04/2016  Aditya
10   Shivam Rana  10:55:22 PM  02/04/2016  Aditya
11   Shivam Rana  10:55:37 PM  02/04/2016  Aditya
12        Aditya  10:55:52 PM  02/04/2016  Aditya
13        Aditya  10:56:07 PM  02/04/2016  Aditya
14        Aditya  10:56:22 PM  02/04/2016  Aditya
15   Shivam Rana  10:56:37 PM  02/04/2016  Aditya
16        Aditya  10:56:52 PM  02/04/2016  Aditya
17   Shivam Rana  10:57:06 PM  02/04/2016  Aditya
18        Aditya  10:57:18 PM  02/04/2016  Aditya
19   Shivam Rana  10:57:30 PM  02/04/2016  Aditya
20        Aditya  10:57:42 PM  02/04/2016  Aditya
21   Shivam Rana  10:57:54 PM  02/04/2016  Aditya
22        Aditya  10:58:04 PM  02/04/2016  Aditya
23        Aditya  10:58:12 PM  02/04/2016  Aditya
24        Aditya  10:58:21 PM  02/04/2016  Aditya
25        Aditya  10:58:29 PM  02/04/2016  Aditya
26        Aditya  10:58:38 PM  02/04/2016  Aditya
27        Aditya  10:58:47 PM  02/04/2016  Aditya
28   Shivam Rana  10:58:55 PM  02/04/2016  Aditya
29        Aditya  10:59:07 PM  02/04/2016  Aditya
..           ...          ...         ...     ...
117       Aditya  11:23:15 PM  02/04/2016  Aditya
118       Aditya  11:23:45 PM  02/04/2016  Aditya
119  Shivam Rana  11:24:07 PM  02/04/2016  Aditya
120       Aditya  11:24:22 PM  02/04/2016  Aditya
121  Shivam Rana  11:24:37 PM  02/04/2016  Aditya
122  Shivam Rana  11:24:52 PM  02/04/2016  Aditya
123  Shivam Rana  11:25:04 PM  02/04/2016  Aditya
124  Shivam Rana  11:25:12 PM  02/04/2016  Aditya
125       Aditya  11:25:21 PM  02/04/2016  Aditya
126  Shivam Rana  11:25:29 PM  02/04/2016  Aditya
127       Aditya  11:25:38 PM  02/04/2016  Aditya
128  Shivam Rana  11:25:47 PM  02/04/2016  Aditya
129       Aditya  11:25:55 PM  02/04/2016  Aditya
130       Aditya  11:26:10 PM  02/04/2016  Aditya
131       Aditya  11:26:30 PM  02/04/2016  Aditya
132       Aditya  11:26:50 PM  02/04/2016  Aditya
133  Shivam Rana  11:29:00 PM  02/04/2016  Aditya
134       Aditya  11:31:10 PM  02/04/2016  Aditya
135       Aditya  11:31:30 PM  02/04/2016  Aditya
136  Shivam Rana  11:31:50 PM  02/04/2016  Aditya
137       Aditya  11:32:07 PM  02/04/2016  Aditya
138       Aditya  11:32:22 PM  02/04/2016  Aditya
139  Shivam Rana  11:32:37 PM  02/04/2016  Aditya
140       Aditya  11:32:52 PM  02/04/2016  Aditya
141       Aditya  11:33:05 PM  02/04/2016  Aditya
142       Aditya  11:33:15 PM  02/04/2016  Aditya
143  Shivam Rana  11:33:25 PM  02/04/2016  Aditya
144  Shivam Rana  11:33:35 PM  02/04/2016  Aditya
145       Aditya  11:33:45 PM  02/04/2016  Aditya
146  Shivam Rana  11:33:55 PM  02/04/2016  Aditya

[147 rows x 4 columns]

In [203]:
t = pd.Timestamp("10:43:37 pm")
t.strftime("%I:%M:%S %p")

'10:43:37 PM'

In [76]:
pd.Timestamp("22/04/2016")

Timestamp('2016-04-22 00:00:00')

In [64]:
import datetime

In [112]:
pd.Timedelta(60, unit="s")

Timedelta('0 days 00:00:12')

In [125]:
[pd.Timedelta(60, unit="s")]*3 + [433]

[Timedelta('0 days 00:01:00'),
 Timedelta('0 days 00:01:00'),
 Timedelta('0 days 00:01:00'),
 433]

In [162]:
a = {1:2, 2:3}
a.get(3, False)

False